<% include ../partials/header %>
  <div class="container">
    <header class="jumbotron mt-2 bg-info">
      <div class="row">
        <div class="col-md-12">
      <h1 class="pb-2 display-1 text-white">Campgrounds</h1>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campgrounds</a>
      <p class="mt-4 h3 text-white">Our best hand picked Campgrounds in the World <%= message; %></p>
    </div>
    </div>
    </header>


    <div class="card-group">
      <% var i = 1; camp.forEach(function(el){ %>
        <div class="card m-2">
          <img class="card-img-top" src="<%= el.image; %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <%= el.name %>
            </h5>
            <p class="card-text">
              <%= el.description%>
            </p>
            <p class="card-text">
              <small class="text-muted"><%= el.created.toDateString(); %></small>
              
            </p>
            <a class="btn btn-outline-info w-25" href="/campgrounds/<%= el._id%>">View</a>
          </div>
          
        </div>
        <% if(i % 3 === 0) { %>
          <div class="w-100"></div>
          <% } %>
            <% i++; }); %>


    </div>

  </div>

  <% include ../partials/footer %>